body,html,ul,li,h1,h2,h3,h4,dd,dl,dt,i,p{
	margin:0;
	padding:0;
	list-style: none;
}
i,em{font-style:normal;}
h1,h2,h3,h4,b,i,em{font-weight:normal;}
input{outline:none;}
a{
	text-decoration:none; 
	color:#333; 
}

.header{
	width: 100%;
	/*border:1px solid red;*/
	width:1000px;
	height:60px;
	line-height: 60px;
	margin:0 auto;	
	position: relative;
}
.logo{
	margin-top: 20px;
}
.logo a{
	width: 153px;
	height: 37px;
	display: block;
	background: url(images/1.png) no-repeat;
}
.header-two{}
.one{
    position: absolute;
    width: 298px;
    height: 34px;
    border: 1px solid #ccc;
    line-height: 34px;
    top:0px;
    left:200px;	
}
.one>input{
	position: absolute;
    left: 0;
    top: 0;
    width: 249px;
    height: 24px;
    line-height: 24px;
    border: 0;
    margin-left: 14px;
    padding: 5px 0;
    color: #666; 
    font-size:13px;
}
.two>i{
	width: 16px;
	height: 16px;
	display: block;
	position: absolute;
	top: 10px;
	margin-left:475px;
	background: url(images/3.png)no-repeat;
	background-position: -36px -53px;
	padding:5px 6px;
}
.two>i:hover{
	background-position: -36px -83px; 
	cursor: pointer;
}
.head-three{
	width: 402px;
	height:42px;
	line-height: 42px;
	display: block;
	position: absolute;
	top:0px;
	right:0;
}
.three-noe>ul{  
	 
	
}
.three-noe>ul>li{
	float:left; 
	
	font-size:100%;
}
.three-noe>ul>li:nth-child(3)>a{
	border-right:1px solid #ccc;
}
.three-noe>ul>li:hover>a{
	color:#529AF5;
}
.three-noe>ul>li>a{
	font-size: 13px;
	color: #777;
	font-weight: 100;
	padding:0 15px;
}
.three-two>a{
	margin-left:30px;
	font-size: 14px;
	border:1px solid #ccc;
	padding:5px 12px;
	border-radius:3px;
	font-weight: 100;
}
.three-two>a:nth-child(1){
	background: #169af3;
	color:#fff;
}
.three-two>a:nth-child(1):hover{
	background: #368fcb;
}

.three-two>a:nth-child(2){
	margin-left:5px;
}
.three-two>a:nth-child(2):hover{
	border:1px solid #169af3;
}

.backgroundimages{
	background: url(images/3.jpg) no-repeat center;
}


.naver{
	width: 100%;
	height:55px;
	line-height: 55px;
	background:#2c323b;

}
.nav{
	overflow: hidden;
	width:1000px;
	margin:auto;
	/*border:1px solid blue;*/

}
.nav>ul>li{
	display: inline-block;
	/*border:1px solid red;*/
	text-align: center;
	float: left;
}
.nav>ul>li>a{
	padding:0 30px;
	color:#fff;

}
.nav>ul>li:nth-child(1){
	background: #0c8ed9;
}
.nav>ul>li:hover{
	background: #0c8ed9;
	cursor:pointer;
}

.big-background-images>a{
	width: 100%;

	border:1px solid red;
}




.nav>ul>li:nth-child(4)>ul{
	display: none;
}
.nav>ul>li:nth-child(4):hover>ul{
	display: block;
}
.nav>ul>li:nth-child(4)>ul>li{
	background: #2c323b;

}
.nav>ul>li:nth-child(4)>ul>li>a{
	color:#bbb;
}
.nav>ul>li:nth-child(4)>ul>li:hover{
	background:#2d343d;
}
.nav>ul>li:nth-child(4)>ul>li:hover>a{
	color:#fff;
}

.nav-right{
	width: 370px;
	height: 35px;
	float:right;
	margin-right:-30px;
}
.nav-right>ul>li{
	width: 72px;
	height: 35px;
}
.nav-right>ul>li{
	display: inline-block;
	margin-left:16px;
}
.nav-right>ul>li>a{
	color:#bbb;
	font-size: 13px;
	position: relative;
}
.nav-right>ul>li:nth-child(1)>a>i{
	position: absolute;
	top:2px;left:-15px;
	/*border:1px solid;*/
	height:15px;
	width:15px;
	display: inline-block;
	background:url(images/2.png);
	background-position: 0px -123px;
}
.nav-right>ul>li:nth-child(2)>a>i{
	position: absolute;
	top:2px;left:-15px;
	/*border:1px solid;*/
	height:15px;
	width:15px;
	display: inline-block;
	background:url(images/2.png);
	background-position: 0px -158px;
}
.nav-right>ul>li:nth-child(3)>a>i{
	position: absolute;
	top:2px;left:-15px;
	/*border:1px solid;*/
	height:15px;
	width:15px;
	display: inline-block;
	background:url(images/2.png);
	background-position: 0px -196px;
}
.nav-right>ul>li:nth-child(4)>a>i{
	position: absolute;
	top:2px;left:-15px;
	height:15px;
	width:15px;
	display: inline-block;
	background:url(images/2.png);
	background-position: 0px -285px;
}
.nav-right>ul>li:hover>a{
	color:#14a9ff;
}
.nav-right>ul>li:nth-child(1):hover>a>i{
	background-position: 0px -105px;
}
.nav-right>ul>li:nth-child(2):hover>a>i{
	background-position: 0px -140px;
}
.nav-right>ul>li:nth-child(3):hover>a>i{
	background-position: 0px -178px;
}
.nav-right>ul>li:nth-child(4):hover>a>i{
	background-position: 0px -249px;
}
.backgroundimages{
	width: 100%;
	height:500px;

}
.backgroundimages{
	position: relative;
}
.nav-bottom{
	position: absolute;
	bottom: 0px;
	width: 100%;
	height:60px;
	background-color: rgba(0,0,0,0.3);
}
.nav-banner{
	width: 745px;
	height: 64px;
	line-height: 64px;
	margin:auto;
	
}
.nav-banner>a{
	padding-left: 65px;
	padding-right: 45px;
	font-size: 15px;
	color:#fff;
	position: relative;
}
.nav-banner>a:nth-child(3){
	margin-left:55px;
}
.nav-banner>a:nth-child(5){
	margin-left:55px;
}
.nav-banner>a>i{
	margin:0 30px;
	display: inline-block;	
	width: 25px;
	height: 25px;
	margin-top:10px;
}
.nav-banner>a:nth-child(1)>i{
	background: url(images/8.png);
	position: absolute;top:-15px;left:0px;
}
.nav-banner>a:nth-child(3)>i{
	background: url(images/9.png);
	position: absolute;top:-15px;left:0px;
	
}
.nav-banner>a:nth-child(5)>i{
	background: url(images/10.png);
	position: absolute;top:-15px;left:0px;
}
.nav-banner>span{
	font-weight: 100;
	color:#ccc;
	margin-left:30px;
}


.content{
	width: 1020px;
	height:2170px;
	border:1px solid #fff;
	margin:auto;
}
.box-one{
	width: 1020px;
}
.box1{
	float:left;
	width: 660px;
	height: 390px;
	margin: 0 auto;
	margin-top:40px;
	position: relative;
}
.box1>h3{
	font-size:30px;
	display: inline-block;
    width: 120px;
    height: 30px;
    margin-right: 25px;
    color: #555;
    margin-bottom:30px;
}
.box1>h3>b{
	font-weight: 400;
	color:#009af3;
}
.box1>a{
 	float:right;
	margin-top: 20px;
    color: #999;
    
}
.left-big{
	width: 325px;
	height: 325px;
	background: url(images/11.jpg);
	background-size:contain;
	position: relative;
}
.left-big>i{
	display:block;
	width: 325px;
	height: 325px;
	/*border:1px solid green;*/
}
.right{
	width: 160px;
	height: 160px;
	float:right;
	position: relative;
}

.right-big1{
	position: absolute;
	top:60px;right:160px;
	margin:0 5px;
	background: url(images/12.jpg) no-repeat;
	background-size:contain; 
}
.right-big2{
	position: absolute;
	top:60px;right:0px;
	background: url(images/13.jpg) no-repeat;
	background-size:contain; 
}
.right-big3{
	position: absolute;
	top:220px;right:160px;
	margin:0 5px;
	margin-top:5px;
	background: url(images/14.jpg) no-repeat;
	background-size:contain; 
}
.right-big4{
	position: absolute;
	top:220px;right:0px;
	margin-top:5px;
	background: url(images/15.jpg) no-repeat;
	background-size:contain; 
}

.box-right{
	float:right;
	margin-right: 8px;
	margin-top:40px;
	width: 320px;
	height: 385px;
	position: relative;
}
.box-right>h3{
	display: inline-block;
	font-size: 30px;
	font-weight: 400;
	color: #555;
}
.box-right>h3>b{
	color:#009af3;
}
.box-right>a{
	float:right;
    color: #999;	
}
.box-right-big{
	
	width: 320px;
	height: 325px;
	margin-top:20px;
}
.box-right-one{
	width: 320px;
	height: 98px;
	display: inline-block;
	margin-top:0px;
	background-color: #f6f6f6;
}
.box-right-two{
	
	width: 320px;
	height: 98px;
	margin-top:15px;
	display: inline-block;
	background-color: #f6f6f6;
}
.box-right-three{
	background: #cfcfcf;
	width: 320px;
	height: 98px;
	margin-top:15px;
	background-color: #f6f6f6;
}

.list{
	float:right;	
	padding:15px 10px;
}
.list>dl>dt{
	line-height: 24px;
    color: #333;
    font-weight: 700;
    font-size:14px;
}
.list>dl>dd{
	width: 200px;
    line-height: 24px;
    font-size: 14px;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.left-big:hover>i{
	background: rgba(0,0,0,0.2);
	/*opacity:0.2;*/
	
}
.left-big-text{
	width: 325px;		
    background: rgba(0,0,0,.5);
    font-size: 14px;
    line-height: 38px;
    position: absolute;
    bottom:0px;
    color:#fff;
}
.left-big-text>p:nth-child(2){
	
	margin-top:-20px;
	padding-left:8px;
}

.left-big-text>p:nth-child(1){
	padding:6px 8px;
}	
.left-big:hover>.left-big-text>p{
	color:#cfcfcf;
}
.right>i{
	display: block;
	position: absolute;
	top:0px;
	width: 160px;
	height: 160px;
}
.right:hover>i{
	background: rgba(0,0,0,0.2);
}
.right-big-text{
	width: 160px;
	line-height:28px;
	background: rgba(0,0,0,.5);    
   	padding-top:5px;
   	position: absolute;
   	bottom:0px;	
}
.right-big-text>p:nth-child(2){
	color:#cfcfcf;
	margin-top: -8px;
	/*padding-bottom: 10px;*/

}
.right-big-text>p{
	
	color:#fff;
	font-size: 14px;
	padding-left:8px;
}
.right:hover>.right-big-text>p{
	color:#cfcfcf;
}
.play{
	width: 36px;
	height: 36px;
	background: url(images/2.png) no-repeat;
	background-position: 0px -360px;
	position: absolute;
	bottom: 10px;
	right:10px;
	display: none;
}
.left-big:hover>.play{
	display: block;
}
.plays{
	width: 36px;
	height: 36px;
	background: url(images/2.png) no-repeat;
	background-position: 0px -360px;
	position: absolute;
	bottom: 5px;
	right:10px;
	display: none;
}
.right:hover>.plays{
	display: block;
}
.left-big>p{
	height: 26px;
	width: 160px;
	color:#fff;
	float:right;
	padding-top:10px;
	border:0px solid #fff;
	background:rgba(0,0,0, 0.2);
	padding-right:10px;
}
.left-big>p>span{
	float:right;
	font-size: 13px;
}
.left-big>p>span:nth-child(2){
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right:10px;
	background: url(images/2.png) no-repeat;
	background-position: 0px -267px;
}
.right>p{
	position: absolute;
	top:0px; 
	height: 16px;
	width: 160px;
	color:#fff;
	padding-top:5px;
	padding-bottom: 5px;
	border:0px solid #fff;
	background:rgba(0,0,0,0.3);
}
.right>p>span{
	font-size:13px;
	float:right;
	margin-right:10px;

}
.right>p>span:nth-child(2){
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-right:10px;
	background: url(images/2.png) no-repeat;
	background-position: 0px -267px;
}
.box-right>a>i{

	width: 98px;
	height: 98px;
	margin-left:2px;
	position: absolute;
	top:0px;
	left: 0px;
	background: rgba(0,0,0, 0.5);
	display: none;
}
.box-right>a>i>b{
	display:block;
	width: 37px;
	height: 37px;
	margin:auto;
	margin-top:30px;	
	background:url(images/2.png) no-repeat;
	background-position: 0px -360px;
}
.box-right:hover>a>i{
	display: block;
}
.banner-one{
	display: block;
	height: 100px;
	margin-top:450px;
	background:url(images/19.jpg);
}

.big-box-two{/*border:1px solid blue;*/
	height:375px;
	margin-top:40px;
	position: relative;
}
.big-box-right{
	width: 650px;
	border-bottom: 1px solid #dfdfdf;
}
.big-box-right>h3{
	font-size:30px;
	display: inline-block;
    width: 120px;
    margin-right: 25px;
    color: #555;
    margin-bottom:20px;
}
.big-box-right>h3>i{
	font-weight: 400;
	color:#009af3;
}
.big-box-right>span{
	display: inline-block;
	font-size: 14px;
	margin:auto 15px;
}
.big-box-right>span:nth-child(2){
	margin-left:15px;
}
.big-box-right>span:nth-child(2) a{
	color:#009af3;
}
.big-box-right>span:hover a{
	color:#009af3;
}
.big-box-right>button{
	width:100px;
	line-height: 20px;
	padding:5px 10px;
	float:right;
	margin-top:15px;
	border:1px solid #cfcfcf;
	background:#ffffff;

}
.big-box-right>button>em{
	color:#555;
}
.big-box-right>button>span{
	display: inline-block;
	width: 12px;
	height: 14px;
	margin-right: 5px;
	vertical-align:middle;
	background:url(images/3.png) no-repeat;
	background-position: 0px -55px; 
}
.big-box-right>button:hover{
	border:1px solid #009af3;
}
.big-box-right>button:hover>span{
	background-position: 0px -85px; 
}
.big-box-right2{/*border:1px solid red;*/
	width: 650px;
	height: 280px;
}


.audios{
	/*border:1px solid red;*/
	width: 300px;
	height: 20px;
	position: absolute;
	top:8px;
	left:230px;
	overflow: hidden;
}
.audios>audio{
	position: absolute;
	top:-15px;
	opacity:0.3;
}





.big-box-right2>ul{
	display: block;
	width: 650px;
	height: 280px;
	padding-left:1em;
}
.big-box-right2>ul>li>a{
	display: block;
	color: #333;
	font-size: 14px;
	width: 635px;
	padding:8px 0px;
	position: relative;

}
.big-box-right2>ul>li>a>span>i{
	display: inline-block;
	height: 14px;
	width: 12px;
	vertical-align: middle;
	background:url(images/3.png) no-repeat;
	background-position:0px -55px;
	display: none;
}
.big-box-right2>ul>li>a>span>b{
	display: inline-block;
	height: 14px;
	width: 15px;
	margin:0px 10px;
	vertical-align: middle;
	background:url(images/4.png) no-repeat;
	background-position:-88px -0px;
	display: none;
}
.big-box-right2>ul>li:hover>a>span>i{
	display: inline-block;
}
.big-box-right2>ul>li:hover>a>span>b{
	display: inline-block;
}
.big-box-right2>ul>li>a>span>i:hover{
	background:url(images/3.png) no-repeat;
	background-position:0px -86px;
}
.big-box-right2>ul>li>a>span>b:hover{
	background:url(images/4.png) no-repeat;
	background-position:-88px -30px;
}
.big-box-right2>ul>li>a>span{
	float:right;
}
.big-box-right2>ul>li>a:hover{
	opacity: 1;
	background:#f5f8fb;
	color:#009af3;
}
.foots{
	font-size: 12px;
    color: #8d8d8d;
    margin-left:50%;
}
.big-box-left{
	position: absolute;
	width: 320px;
	height: 362px;
	top:0px;right:0px;
	/*border:1px solid red;*/
}
.big-box-left>h3{
	display: inline-block;
	font-size: 30px;
    margin-right: 25px;
    color: #555;
    margin-bottom: 20px;
}
.big-box-left>h3>i{
	color:#009af3;
}
.big-box-left>a{
	float:right;
	margin-top: 17px;
	font-size: 13px;
	color:#999;
}
.imgs-one{
	width: 320px;
	height: 165px;
	position: relative;
	background: url(images/20.jpg);
	background-size: contain;
}
.imgs-two{
	padding-top:10px;
	position: relative;
}
.imgs-two>a{
	display: inline-block;
	width: 154px;
	height: 88px;

}
.imgs-two>a:nth-child(1){
	background: url(images/21.jpg) no-repeat;
	background-size: contain;
}
.imgs-two>a:nth-child(2){
	margin-left:3px;
	background: url(images/22.jpg) no-repeat;
	background-size: contain;
}
.imgs-one>span{
	position: absolute;
	bottom: 5px;left:5px;
	color:#cfcfcf;
}
.imgs-one>span>i{
	display: block;
	color:#fff;
}
.imgs-one>i{
	display: block;
	width: 320px;
	height: 165px;
	background:rgba(0,0,0,0.5);
	position: relative;
	display: none;
}
.imgs-one>i>b{
	display: block;
	width: 49px;
	height: 49px;
	background: url(images/3.png) no-repeat;
	background-position:-50px 0px;
	position: absolute;
	top:56px;left:125px; 
}
.imgs-one:hover>i{
	display: block;	
}

.imgs-two>a>span>b{
	display: block;
	position: absolute;
	bottom: -1em;
}
.imgs-two>a>span>i{
	position: absolute;
	bottom:-2.5em;
	font-size: 12px;
	color:#888;

}
.imgs-two>a:nth-child(1):hover>span>b{
	color:#009af3;
}
.imgs-two>a:nth-child(2):hover>span>b{
	color:#009af3;
}
.imgs-two>a>i{
	display: block;
	width: 154px;
	height: 88px;
	background:rgba(0,0,0,0.2);
	position: relative;
	display: none;
}
.imgs-two>a>i>b{
	display: block;
	width: 49px;
	height: 49px;
	background: url(images/3.png) no-repeat;
	background-position:-50px 0px;
	position: absolute;
	top:20px;left:52px;
}

.imgs-two>a:nth-child(1):hover>i{
	display: block;
}
.imgs-two>a:nth-child(2):hover>i{
	display: block;
}
.banner-two{
	margin:20px 0px;
	height:100px; 
	background: url(images/23.jpg)no-repeat;
	background-size:cover;

}
.contain-three{
	padding: 20px 0px;
	height: 365px;
	position: relative;
}
.contain-left{
	width: 650px;
	height: 385px;
	/*border:1px solid blue;*/
}
.left-header{
	width: 650;
	height: 40px;
	/*border:1px solid black;*/
}
.left-header>h3{
	padding:0px 5px;
	font-size: 30px;
	font-weight: 400;
    display: inline-block;   
    color: #555;  
}
.left-header>h3>i{
	color:#009af3;
}
.left-header>a{
	display: inline-block;
	float:right;
	color:#999;
	font-size: 12px;
	margin-top:12px;
}
.left-header>a:hover{
	color:#009af3;
}
.left-contain{
	margin-top:20px;
	width: 650px;
	height: 320px;
	/*border:1px solid green;*/
}
.left-contain>ul>li{
	display: inline-block;
	padding:25px 12px;
}
.left-contain>ul>li>a{
	display: inline-block;
	width: 100px;
	height: 100px;
	position: relative;
}
.left-contain>ul>li>a>span{
	position: absolute;
	bottom: -2em;
	width: 100px;
	text-align: center;
}
.left-contain>ul>li>a>img{
	width: 100px;
	height: 100px;
}
.left-contain>ul>li>a:hover>span{
	color:#009af3;
}
.left-contain>ul>li>a>i{
	display: inline-block;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	background: rgba(0,0,0,0.5);
	display: none;
}
.left-contain>ul>li>a>i>b{
	display: block;
	width: 49px;
	height: 49px;
	position: absolute;
	top:25px;left:25px;
	background: url(images/3.png)no-repeat;
	background-position: -50px 0px;
}
.left-contain>ul>li>a:hover>i{
	display: block;
}
.contain-right{
	position: absolute;
	top:0px;right:0px;
	width: 330px;
	height: 380px;
	margin-top:20px;
	/*border:1px solid red;*/
}
.contain-right-header{
	height: 40px;
	/*border:1px solid blue; */

}
.contain-right-header>h3{
	display: inline-block;
	padding: 0px 5px;
    display: inline-block;
    font-size: 30px;
    font-weight: 400;
    display: inline-block;
    color: #555;
}
.contain-right-header>h3>i{
	color:#009af3;
}
.contain-right-header>span{
	display: inline-block;
	padding:0 5px;
	font-size: 14px;
	vertical-align: text-top;
	cursor: pointer;
}
.contain-right-header>a{
	display: inline-block;
	float:right;
	margin-top:15px;
	color:#999;
}
.contain-right-header>a:hover{
	color:#009af3;
}
.contain-right-header>span:hover{
	color:#009af3;
}
.contain-right-header>span:nth-child(2){
	color:#009af3;
}

.contain-right-contain{
	margin-top:20px;
	height: 318px;
}
.contain-right-images{
	display: inline-block;
}
.contain-right-images>a{
	display: inline-block;
	width: 160px;
	height: 160px;
	/*border:1px solid green;*/
	position: relative;
}
.contain-right-images>a>img{
	display: inline-block;
}
.contain-right-images>a:nth-child(2){
	float:right;
	margin-left:10px;
}
.contain-right-images>a>i{
	position:absolute;
	bottom:5px;left:5px;
	color:#fff;
}
.contain-right-images>a>img{
	width: 160px;
}
.contain-right-images>a>span{
	position: absolute;
	display: block;
	width: 160px;
	height: 160px;
	background: rgba(0,0,0,0.2);
	display: none;
}
.contain-right-images>a:nth-child(1):hover>span{
	display: block;
}
.contain-right-images>a:nth-child(2):hover>span{
	display: block;
}
.contain-small-images{
	display: inline-block;
	width: 330px;
	height: 110px;	
	margin-top:10px;
}
.contain-small-images>a{
	display: inline-block;
	width: 104px;
	height: 110px;
	padding-left:2px;
	position: relative;
}
.contain-small-images>a>img{
	width: 104px;
	height: 110px;
}
.contain-small-images>a>span{
	display: block;
	width: 104px;
	height: 110px;
	background: rgba(0,0,0,0.2);
	position: absolute;
	display: none;
}
.contain-small-images>a:nth-child(1):hover>span{
	display: block;
}
.contain-small-images>a:nth-child(2):hover>span{
	display: block;
}
.contain-small-images>a:nth-child(3):hover>span{
	display: block;
}
.contain-small-images>a>i{
	color:#fff;
	position:absolute;
	bottom:5px;left:5px;
}
.banner-three{
	height: 100px;
	background: url(images/39.jpg)no-repeat;
	background-size:cover;
	margin-top:40px; 
}

.contain-three-boxs{/*border:1px solid red;*/
	height: 286px;
	margin-top:40px;
}
.contain-three-head>h3{/*border:1px solid blue;*/
	height: 40px;
	padding: 0px 5px;
    font-size: 30px;
    font-weight:lighter;
    display: inline-block;
    color: #555;
}
.contain-three-head>h3>i{
	color:#009af3;
}
.contain-three-footer{/*border:1px solid green;*/
	margin-top:30px;
	height: 216px;
}
.contain-three-footer>a{float:left;}
.contain-three-footer>a>img{
	display: inline-block;
	margin-bottom: 12px;
	margin-right:13px;
    border: 1px dashed #ccc;
}
.contain-four{/*border:1px solid red;*/
	margin-top:30px;
	height: 160px;
}
.contain-four-footer{/*border:1px solid blue;*/
	margin-top:30px;
	height: 90px;
	
}
.contain-four-footer>a{ 
	float: left;
	font-size:13px;
	overflow: hidden;
    display: block;
    width: 127px;
    height: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    color: #555;
}
.contain-four-footer>a:hover{
	color:#009af3;
}
.footer{/*border:1px solid red;*/
	height: 330px;
	background: #2c323b;
}
.footer-one{
	height: 50px;
}
.footer-nav{
	
	width: 1000px;
	height: 40px;
	line-height: 40px;
	margin:auto;
	text-align: center;
	font-size: 12px;
	color:#b1b3b9;
	/*border:1px solid red;*/
}
.footer-nav>a{/*border:1px solid red;*/
	display: inline-block;
	color:#b1b3b9;
	padding:0px 8px;
	text-align: center;
}
.footer-nav>a:hover{
	color:#009af3;
}
.footer-next{
	height: 278px;
	border-top:1px solid #afafaf;
}
.footer-provision{/*border:1px solid blue;*/
	width: 1000px;
	height: 218px;
	margin:auto;
	padding-top:30px;
	font-size: 13px;
	color:#b1b3b9;
	text-align: center;	
}
.footer-provision>p{
	line-height: 35px;
}

.myname{
	width: 150px;
	height:100px;
	line-height: 50px;
	text-align: center;
	position: fixed;
	top:20%;left:40px;
	font-size: 2em;
	color:#529AF5;
	background:#efefef;
	border-radius: 30px;
	animation: move 10s infinite;
}
@keyframes move{
	30%{color:yellow;}
	60%{color:red;}
	90%{color:blue;}
}



